<div class="matches">
  <h2>Matches for <%= current_user.mendeley_username || current_user.zotero_username || 'you' %> from <%= source_sentence(current_user) %>:</h2>

  <% if @discussions %>
    <div class="discussions">
      <% @discussions.each do |discussion| %>
        <div class="discussion">
          <div class="favicon" style="background-image: url('http://<%= discussion.send(:hostname) %>/favicon.ico');"> </div>
          <p class="discussion-title">
            <%= link_to discussion.title, discussion.url %>
          </p>
          <p class="discussion-link"><%= link_to discussion.send(:hostname), discussion.url %></p>
          <p class="paper-title"><span class="meta">Paper</span>: <%= discussion.article.title %></p>
        </div>
      <% end %>
    </div>

    <p>
      <%= pluralize @number_of_articles_without_discussions, "more article" %> without discussions.
    </p>
  <% end %>

  <div class="well">
    <h3>Add more papers from your library</h3>
    <% if !current_user.zotero? %>
      <%= link_to "Connect with Zotero", user_omniauth_authorize_path(:zotero), :class => "btn" %>
    <% end %>

    <% if !current_user.mendeley? %>
      <%= link_to "Connect with Mendeley", user_omniauth_authorize_path(:mendeley), :class => "btn" %>
    <% end %>

    <%= link_to "Add articles by uploading a BibTeX file", new_bibtex_import_path, :class => "btn" %>
  </div>
</div>
