<h1>JournalClub Frontend</h1>

<% if signed_in? %>
  <% if current_user.zotero? %>
    <h2>Zotero Library for <%= current_user.zotero_username %></h2>

    <!--
    <pre>
      <%= @articles.map(&:inspect).join("\n") %>
    </pre>
    -->

    <ul>
      <% @articles.each do |item| %>
        <li>
          <p><%= link_to item.title, item.url %></p>

          <% if item.identifier_strings.any? %>
            <p>
            Identifiers (<%= item.identifier_strings.count %>): <%= item.identifier_strings.join(" | ") %>
            </p>
          <% end %>

          <% discussions = Discussion.for(item) %>

          <% if discussions.any? %>
            <p>Discussions: (<%= discussions.count %>) </p>
            <ul>
              <% discussions.each do |discussion| %>
                <li><%= link_to discussion.title, discussion.url %></li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= link_to "Sign out", sign_out_url %>
  <% end %>
<% else %>
  <%= link_to "Connect to Zotero", user_omniauth_authorize_path(:zotero) %>
<% end %>
