<h1>JournalClub Frontend</h1>

<% if signed_in? %>
  <% if current_user.zotero? %>
    <h2>Zotero Library for <%= current_user.zotero_username %></h2>

    <h3>Articles with discussions:</h3>
    <ul>
      <% @articles_with_discussions.each do |item| %>
        <li>
          <p>
          <%= link_to item.title, item.url %>
          <%#= identifiers_for(item) %>
          </p>
          <ul>
            <% Discussion.for(item).each do |discussion| %>
              <li>
                <%= link_to discussion.title, discussion.url %>
                <%#= identifiers_for(discussion) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>

    <!--
    <h3>Articles without discussions:</h3>
    <ul>
      <% @articles_without_discussions.each do |item| %>
        <li>
          <p><%= link_to item.title, item.url %> <%= identifiers_for(item) %></p>
        </li>
      <% end %>
    </ul>
    -->
  <% end %>
<% else %>
  <%= link_to "Connect to Zotero", user_omniauth_authorize_path(:zotero) %>
<% end %>
