<% if signed_in? %>
    <div class="page-header">
      <h2>Library for <%= current_user.mendeley_username || current_user.zotero_username || 'you' %> from <%= source_sentence(current_user) %>:</h2>
    </div>

  <% if @discussions %>
    <ul>
      <% @discussions.each do |discussion| %>
        <li>
          <h3>
            <%= link_to discussion.title, discussion.url %>
          </h3>
          <cite>
            <%= link_to discussion.url, discussion.url %>
          </cite>
          <p>
            Article: <%= discussion.article.title %>
          </p>
        </li>
      <% end %>
    </ul>

    <p>
      <%= pluralize @number_of_articles_without_discussions, "more article" %> without discussions.
    </p>
  <% end %>

  <% if !current_user.zotero? %>
    <p><%= link_to "Connect with Zotero", user_omniauth_authorize_path(:zotero) %></p>
  <% end %>
  <% if !current_user.mendeley? %>
    <p><%= link_to "Connect with Mendeley", user_omniauth_authorize_path(:mendeley) %></p>
  <% end %>
<% end %>
