<% if signed_in? %>
  <% if current_user.zotero? %>
    <div class="page-header">
      <h2>Zotero Library for <%= current_user.zotero_username %></h2>
    </div>

    <ul>
      <% @discussions.each do |discussion| %>
        <li>
          <h3>
            <%= link_to discussion.title, discussion.url %>
          </h3>
          <cite>
            <%= link_to discussion.url, discussion.url %>
          </cite>
          <p>
            Article: <%= discussion.article.title %>
          </p>
        </li>
      <% end %>
    </ul>

    <p>
      <%= pluralize @number_of_articles_without_discussions, "more article" %> without discussions.
    </p>
  <% end %>
<% else %>
  <p><%= link_to "Connect with Zotero", user_omniauth_authorize_path(:zotero) %></p>
  <p><%= link_to "Connect with Mendeley", user_omniauth_authorize_path(:mendeley) %></p>
<% end %>
